version: "2"
services:
  web:
    build: .
    volumes:
    - ./:./usr/src/flight_scheduler
    ports:
    - "3001:3001"
    depends_on:
    - mongo
  mongo:
    image: mongo
    ports:
    - "27017:27017"